services:
  # Database for Task Service
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - micro-network

  # Cache and Message Broker
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    networks:
      - micro-network

  task-service:
    build: ./backend/task-service
    container_name: task-service
    ports:
      - "8001:8000"
    environment:
      - MONGO_URL=mongodb://mongodb:27017
      - REDIS_URL=redis://redis:6379
    depends_on:
      - mongodb
      - redis
    networks:
      - micro-network

  notification-service:
    build: ./backend/notification-service
    container_name: notification-service
    environment:
      - REDIS_URL=redis://redis:6379
      - PYTHONUNBUFFERED=1
    depends_on:
      - redis
    networks:
      - micro-network

  kong:
    image: kong:latest
    container_name: kong
    volumes:
      - ./infra/kong:/usr/local/kong/declarative
    environment:
      - KONG_DATABASE=off
      - KONG_DECLARATIVE_CONFIG=/usr/local/kong/declarative/kong.yml
      - KONG_PROXY_LISTEN=0.0.0.0:8000
      - KONG_ADMIN_LISTEN=0.0.0.0:8001
    ports:
      - "8000:8000" # Public API port
      - "8002:8001" # Admin API (Internal)
    networks:
      - micro-network    

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./infra/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - micro-network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - micro-network       


networks:
  micro-network:
    driver: bridge

volumes:
  mongo_data:
  redis_data:
