services:
  # Database for Task Service
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - micro-network

  # Cache and Message Broker
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - micro-network

  task-service:
    build: ./backend/task-service
    container_name: task-service
    ports:
      - "8001:8000"
    environment:
      - MONGO_URL=mongodb://mongodb:27017
      - REDIS_URL=redis://redis:6379
    depends_on:
      - mongodb
      - redis
    networks:
      - micro-network

  notification-service:
    build: ./backend/notification-service
    container_name: notification-service
    environment:
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis
    networks:
      - micro-network      

      
networks:
  micro-network:
    driver: bridge

volumes:
  mongo_data:
  redis_data:
